.slideMenu {
  width: 48px;
  background-color: hsl(247, 100%, 13%);
  color: hsl(0, 0%, 90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 3.25s;
}

.slideMenu.isExpanded {
  width: 240px;
}

.slideMenu nav > ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.slideMenuItem {
  display: flex;
  color: inherit;
  height: 48px;
  text-decoration: none;
  transition: background-color 0.25s, color 0.25s;
  overflow: hidden;
}

.slideMenuItem:hover {
  background-color: hsl(247, 100%, 18%);
  color: hsl(0, 0%, 100%);
}

.slideMenuItem .icon {
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 18px;
}

.slideMenuItem .label {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.slideMenuToggle {
  width: 100%;
  padding-block: 0.5em;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.25s, color 0.25s;
}

.slideMenuToggle:hover {
  background-color: hsl(247, 100%, 18%);
  color: hsl(0, 0%, 100%);
}

.slideMenuToggle > div {
  display: flex;
}

.slideMenu .slideMenuToggle > div {
  transform: rotate(0deg);
  transition: transform 0.25s;
}

.slideMenu:not(.isExpanded) .slideMenuToggle > div {
  transform: rotate(-180deg);
}
